:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;

    background-image:
        radial-gradient(circle at left top, rgb(142 173 213 / .6), transparent 600px),
        radial-gradient(circle at right center, rgb(142 173 213 / .6), transparent 600px);
}

ul,
li,
a,
img {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.content-wrapper-center {
    padding: 3rem 1rem 1rem;
    max-width: 67.25rem;
    margin: auto;
}

.hero_title {
    margin-top: 0;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;

    /* Formatação para o hamburguer menu */
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: white;
    overflow: hidden;
    max-height: 0;

    transition: max-height .3s;
}

.header-menu li:hover {
    background-color: rgba(51 51 51 / .2);
}

.menu_btn:checked .company {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    color: red;

}

.menu_btn:checked~.header-menu {
    max-height: 300vh;
    transition: max-height 1s;
}

.menu_btn:checked+.menu_icon .nav_icon {
    background-color: transparent;
}

.menu_btn:checked+.menu_icon .nav_icon::before {
    transform: rotate(-45deg);
}

.menu_btn:checked+.menu_icon .nav_icon::after {
    transform: rotate(45deg);
}

.menu_btn:focus-visible+.menu_icon {
    outline: 2px solid black;
    outline-offset: 3px;
}

.header-menu:focus-within {
    max-height: 100vh;
}


.header-menu a {
    display: block;
    padding: 1.5em 1em 1.5em 0;

}

.header-menu li {
    padding: .5em;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}


.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    background-color: var(--gray);
    border-radius: 5px;
    margin-top: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands li {
    width: 20%;
}

.company li {
    padding: .5em 0;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.icons li {
    display: inline-block;
    font-size: 2rem;
}

.icons li:not(li:first-child) {
    margin-left: 1rem;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;

    container: testemunho / inline-size;
}

.testemunhoCard {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.testemunho_thumb {
    width: 8.125rem;
    height: 8.125rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contato_image {
    display: none;
}

.footer {
    background-color: var(--gray);
    padding: 3rem 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
    text-align: center;
    margin-top: 5rem;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    grid-auto-flow: dense;
}

.testemunhos_wrapper.row {
    row-gap: 3rem;
}

.contato.row {
    padding: 4rem 1rem;
}

.row>.sm-12 {
    grid-column: 1 / -1;
}

/* Trabalhando com responsividade, definindo o css grid */
/* md: min-width: 46.25em */
/* lg: min-width: 70em */


/* Media query MD */
@media screen and (min-width: 46.25em) {

    body {
        text-align: left;
    }

    h1 {
        font-size: 3.625rem;
    }

    h2 {
        font-size: 2.875rem;
    }

    .hero_title {
        margin-bottom: 6.25rem;
    }

    .header {
        align-items: center;
    }

    .header nav {
        text-align: start;
    }

    .menu_btn,
    .menu_icon {
        display: none;
    }

    .header-menu {
        display: block;
        max-height: initial;
        background-color: transparent;
        position: initial;
    }

    .header-menu li {
        display: inline-block;
        margin: .5rem;
    }

    .header-menu a {
        padding: 1rem;
    }

    .hero_content .btn {
        margin-top: 1rem;
    }

    .hero_imagem {
        text-align: center;
    }

    .contato_image {
        display: block;
        text-align: center;
    }

    .brands {
        text-align: center;
    }

    .testemunhos_title {
        text-align: center;
    }

    .testemunho_nome {
        margin-top: 0;
        margin-bottom: 2.3rem;
    }

    .company h3 {
        margin-top: 0;
    }

    .content-wrapper-center {
        padding-left: 2rem;
    }

    .row {
        gap: 1rem;
    }

    .row>.md-3 {
        grid-column: span 3;
    }

    .row>.md-6 {
        grid-column: span 6;
    }

    .row>.md-9 {
        grid-column: span 9;
    }

    .row>.md-7-12 {
        grid-column: 7/-1;
    }

    .row>.md-1-6 {
        grid-column: 1/6;
    }
}


/* Media query LG */
@media screen and (min-width: 70em) {

    .header-menu li:hover {
        background-color: rgba(51 51 51 / .2);
        border-radius: 4px;
    }

    .row {
        gap: 3rem;
    }

    .row>.lg-3 {
        grid-column: span 3;
    }

    .row>.lg-4 {
        grid-column: span 4;
    }

    .row>.lg-5 {
        grid-column: span 5;
    }

    .row>.lg-6 {
        grid-column: span 6;
    }

    .row>.lg-7 {
        grid-column: span 7;
    }

    .row>.lg-7-12 {
        grid-column: 7 / -1;
    }

    .row>.lg-1-5 {
        grid-column: 1 / 6;
    }

    .row>.lg-8-12 {
        grid-column: 8 / 13;
    }
}

@container testemunho (min-width:43.75em) {
    .testemunhoCard {
        flex-direction: row;
        text-align: left;
    }

}

/* hamburguer menu */

.menu_icon {
    position: relative;
    cursor: pointer;
    text-align: left;
    height: 25px;
    /* user-select: none; */
}

.nav_icon {
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
}

.nav_icon::before,
.nav_icon::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    background-color: #333;

    transition: transform .2s;
}

.nav_icon::before {
    transform: translateY(-8px);
}

.nav_icon::after {
    transform: translateY(8px);
}